.card, .card-body {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    height: 100px; /* ajusta la altura a tu preferencia */
    overflow-y: auto;
    color: #ccc;
}

.custom-card {
    margin-bottom: 20px; /* ajusta el margen inferior a tu preferencia */
}

.card {
    background-color: #252525;
    border: 1px solid #3bff6f;
}

.btn-primary {
    background-color: #3bff6f;
    border-color: #3bff6f;
    color: #333333;
}

.btn-primary:hover {
    background-color: #36393F;
    border-color: #36393F;
}